@page
@model Bootstrap4Model
@{
    ViewData["Title"] = "Home page";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <title>Hello, world!</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        MOBILE
                    </div>
                    <div class="col text-right">
                        <i class="fa fa-wifi"></i>
                        <i class="fa fa-battery"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <row class="row">
                    <div class="col text-center">
                        <i class="fa fa-facebook"> </i><i class="fa fa-twitter"></i> <i class="fa fa-instagram"></i>
                    </div>
                </row>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col text-left"><i class="fa fa-phone"></i></div>
                    <div class="col text-right"><i class="fa fa-camera"></i></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>