body {
    background: #576CA8;
    color: #fff;
    font-family: Calibri;
    font-size: 22px;
}

a {
    color: #808080;

}

    a:hover {
        color: #4800ff;
    }

    a:focus {
        color: inherit;
    }
ol {
    margin: 20px
}
ul {
    margin: 20px
}
p {
    margin: 20px
}
h1 {
    margin: 20px
}
h2 {
    margin: 20px
}
h3 {
    margin: 20px
}
.beverly {
    border: 5px solid #1B264F;
    background-color: #2A3B78;
    margin: 20px
}
.chelsea {
    border: 5px solid #1B264F;
    background-color: #2A3B78;
    margin: 20px
}
.jackie {
    border: 5px solid #1B264F;
    background-color: #2A3B78;
    margin: 20px
}
.bodylink {
    margin: 20px
}